<!DOCTYPE html>
<html>
  <head>
    <title>Alwayzon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <script>window.darkLogo = "<%= image_url('dark-logo.png') %>"</script>
  <script>window.lightLogo = "<%= image_url("light-logo.png") %>"</script>
  <script>window.time = "<%= image_url("time.png") %>"</script>
  <script>window.usFlag = "<%= image_url("usflag.jpg") %>"</script>
  <script>window.splash = "<%= image_url("splash.jpg") %>"</script>
  <script>window.beautyandskincare = "<%= image_url("beautyandskincare.jpg") %>"</script>
  <script>window.booksandmovies = "<%= image_url("booksandmovies.jpg") %>"</script>
  <script>window.electronics = "<%= image_url("electronics.jpg") %>"</script>
  <script>window.fashionandjewelry = "<%= image_url("fashionandjewelry.jpg") %>"</script>
  <script>window.gamesandtoys = "<%= image_url("gamesandtoys.jpg") %>"</script>
  <script>window.homeandkitchen = "<%= image_url("homeandkitchen.jpg") %>"</script>
  <script>window.schoolandoffice = "<%= image_url("schoolandoffice.jpg") %>"</script>
  <script>window.sportsandoutdoors = "<%= image_url("sportsandoutdoors.jpg") %>"</script>
  <body>
    <%= yield %>
  </body>
</html>
